# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

##################### For Ender3 v2 with Voron M4 and Dragonfly #####################

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
x_offset: -38
y_offset: 6
z_offset: 3.405
pin_move_time: 0.4

[bed_mesh]
speed: 120
horizontal_move_z: 5
mesh_min: 20, 20
mesh_max: 175, 210
probe_count: 5,5
fade_start: 1.0
mesh_pps: 2,2

[safe_z_home]
home_xy_position: 155, 120
speed: 80.0
z_hop: 10.0
z_hop_speed: 10.0

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
endstop_pin: probe:z_virtual_endstop
microsteps: 16
rotation_distance: 8
position_min: -1
position_max: 250

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: !PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 22.037
gear_ratio: 4:1
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 250
pressure_advance: 0.240

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

# Macros

[gcode_macro BED_LEVEL]
gcode:
  BED_MESH_CALIBRATE

[gcode_macro G29]
gcode:
  BED_MESH_CALIBRATE

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE
  G91
  G1 Z20

[gcode_macro FILAMENT_LOAD]
gcode:
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G92 E0.0
    G1 E100 F1000
    G1 E100 F1000
    G1 E100 F1000
    G1 E100 F1000
    G1 E75 F300
    G92 E0.0
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}

[gcode_macro FILAMENT_UNLOAD]
gcode:
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E0.5 F600
    G1 E-0.5 F6000
    G1 E1.0 F6000
    G1 E-1.0 F6000
    G1 E1.5 F6000
    G1 E-100 F1500
    G1 E-100 F1500
    G1 E-100 F1500
    G1 E-100 F1500
    G92 E0.0
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.099
#*# pid_ki = 1.282
#*# pid_kd = 1041.666
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.485
#*# pid_ki = 1.370
#*# pid_kd = 118.504
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.227500, 0.147500, 0.137500, 0.102500, 0.147500
#*# 	  0.157500, 0.087500, 0.062500, 0.025000, 0.045000
#*# 	  0.075000, 0.002500, 0.002500, -0.007500, 0.045000
#*# 	  0.092500, 0.040000, 0.045000, 0.027500, 0.065000
#*# 	  0.205000, 0.145000, 0.135000, 0.117500, 0.177500
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 5
#*# max_y = 210.0
#*# mesh_x_pps = 2
#*# max_x = 175.0
